/* ID Selectors */
#content-container {
    width: calc(100% - 400px);
    min-height: calc(100vh - 300px);
    padding: 0 200px 0 200px;
}

#service-container {
    display: flex;
    column-gap: 50px;
}

/* Class selectors */
.service {
    cursor: pointer;
    display: inline-block;
}

.title {
    font-family: "Gotham Medium";
    margin: 0;
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}

.service-icon {
    width: 100px;
    height: 100px;
    background-image: url("../../../assets/images/service-icon.png");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    background-color: rgb(121, 152, 186);
    border-radius: 20px;
}

.service-title {
    font-family: "Gotham Medium";
}