<div id="content-container">

    <!-- ENROLLED SERVICES -->
    <p class="title">Enrolled Services</p>

    <div id="service-container">
        <div class="service">
            <div class="service-icon"></div>
            <p class="service-title">E-Search Warrant Intake</p>
        </div>

        <div class="service">
            <div class="service-icon"></div>
            <p class="service-title">Criminal Intake</p>
        </div>
    </div>

    <!-- USER MANAGEMENT -->
    <p class="title">User Management</p>
</div>