<div id="content-container">
    <div id="image-section"></div>
    <div id="functional-content-section">
        <div id="service-section">
            <div id="available">
                <p id="services-title">Services for Defense Lawyers</p>
                <a>E-Search Warrant Submission</a>
            </div>
            <div id="available-soon">
                <p id="available-soon-title">Available Soon</p>
                <a>Criminal Intake Online Submission</a>
                <a>Criminal Intake Online Submission</a>
                <a>Criminal Intake Online Submission</a>
            </div>
        </div>
        <div id="login-section">
            <p id="login-title">Login to the Criminal Justice Portal</p>
            <a id="login-button" (click)="login()">LOGIN</a>
        </div>
    </div>
</div>