<!-- LANDING AREA -->
<div id="landing-container">
    <div id="landing-description">
        <p id="landing-description-title">Welcome to the Criminal Justice Portal of Ontario</p>
        <p id="landing-description-subtitle">This portal allows criminal justice personnel from police agencies, courts, crown office, and public to access their respective digital services.</p>
    </div>
</div>

<!-- SITE DESCRIPTION -->
<div id="description-container">
    <div id="site-description">
        Click on "Police Officer" to access criminal justice digital services.
    </div>
</div>