<div id="content-container">

    <div id="alert-container">
        <div class="alert">
            The Shared Documents Service will be offline on July 30th at 7:00 PM for 5 hours.
        </div>
    </div>
    
    <!-- ENROLLED SERVICES -->
    <p class="title">Enrolled Services</p>

    <div id="service-container">

        <div class="service" onclick="location.href='https://google.com'">
            <div class="service-icon"></div>
            <p class="service-title">Shared Documents</p>
        </div>
    </div>

    <!-- USER MANAGEMENT -->
    <p class="title">User Management</p>
</div>