<!-- HEADER -->
<div id="header">
  <div id="header-left">
    <img id="ontario-home-page" src="../assets/images/ontario-logo.png" onclick="window.location ='https://www.ontario.ca/'">
  </div>
  <div id="header-right">
    <p id="header-title">Criminal Justice Portal of Ontario</p>
    <p id="header-title-shorten">CJPO</p>
  </div>
</div>

<!-- NAV BAR -->
<div id="nav-bar">
  <div id="nav-bar-left">
    <a class="nav-bar-link" href="/" [routerLink]="'/'" [routerLinkActive]="'nav-bar-link-active'" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-bar-link" href="/officer" [routerLink]="'/officer'" [routerLinkActive]="'nav-bar-link-active'">Police Officer</a>
    <a class="nav-bar-link" href="/defense-lawyer" [routerLink]="'/defense-lawyer'" [routerLinkActive]="'nav-bar-link-active'">Defense Lawyer</a>
    <a class="nav-bar-link" href="/public" [routerLink]="'/public'" [routerLinkActive]="'nav-bar-link-active'">Public</a>
  </div>

  <div id="nav-bar-right">
    <p id="user-email" *ngIf="loggedIn$ | async">{{userEmail$ | async}}</p>
    <button id="logout-button" *ngIf="loggedIn$ | async" (click)="logout()">Logout</button>
  </div>
</div>

<!-- CONTENT -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<div id="footer">
  <div id="footer-left">
    <a>Accessibility</a>
    <a>Privacy</a>
    <a>Contact Us</a>
  </div>
  <div id="footer-right">
    <a>© Queen's Printer for Ontario, 2012-23</a>
  </div>
</div>