:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* ID Selectors */
#header {
    height: 60px;
    width: calc(100% - 400px);
    background: rgb(20, 20, 20);
    display: flex;
    padding: 30px 200px 30px 200px;
}

#footer {
    display: flex;
    flex-direction: row;
    min-height: 60px;
    width: calc(100% - 400px);
    background: rgb(20, 20, 20);
    padding: 30px 200px 30px 200px;
    bottom: 0px;
}

#footer a {
    font-family: "Gotham";
    text-decoration: underline;
    color: white;
}

#footer a:hover {
    cursor: pointer;
}

#footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

#footer-left {
    display: flex;
    align-items: center;
    overflow: hidden;
    column-gap: 70px;
    width: 50%;
}

#header-left {
    display: flex;
    width: 50%;
}

#header-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    margin-left: 50px;
}

#ontario-home-page:hover {
    cursor: pointer;
}

#header-title {
    font-family: "Gotham";
    color: white;
    font-size: 30px;
    display: inline;
    text-align: right;
}

#header-title-shorten {
    font-family: "Gotham";
    color: white;
    font-size: 30px;
    display: none;
}

#nav-bar {
    width: calc(100% - 400px);
    height: 80px;
    background: rgb(70, 129, 70);
    display: flex;
    align-items: center;
    padding: 0 200px 0 200px;
}

#nav-bar-left {
    display: flex;
    column-gap: 50px;
}

#nav-bar-right {
    display: flex;
    column-gap: 30px;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

#user-email {
    font-family: "Gotham";
    font-size: 20px;
    color: white;
}

#logout-button {
    font-family: "Gotham Medium";
    font-size: 17px;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    background: transparent;
    cursor: pointer;
}

/* Class selectors */
.nav-bar-link {
    color: white;
    font-family: "Gotham Medium";
    text-decoration: none;
    user-select: none;
}

.nav-bar-link:hover {
    text-decoration: underline;
}

.nav-bar-link-active {
    text-decoration: underline;
}

/* Exceptions */
@media only screen and (max-width: 1000px) {
    #header-title {
        display: none;
    }

    #header-title-shorten {
        display: inline;
    }

    /* #footer-right a {
        display: none;
    } */
}

@media only screen and (max-width: 1100px) {
    #nav-bar {
        padding: 0 50px 0 50px !important;
        width: calc(100% - 100px) !important;
    }

    #header {
        padding: 30px 50px 30px 50px !important;
        width: calc(100% - 100px) !important;
    }

    #footer {
        padding: 30px 50px 30px 50px !important;
        width: calc(100% - 100px) !important;
    }

    .nav-bar-link {
        font-size: 15px;
    }
}

@media only screen and (max-width: 800px) {
   
    #footer-left {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
    }
}

@media only screen and (max-width: 460px) {
    #header-title-shorten {
        display: none !important;
    }

    #nav-bar {
        height: 230px;
    }

    #nav-bar-left {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}