/* Element selectors */
html,body {
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Fonts */
@font-face {
    font-family: "Gotham";
    src: url("assets/fonts/gothambook.woff") format("woff");
}

@font-face {
    font-family: "Gotham Medium";
    src: url("assets/fonts/gothammedium.woff") format("woff");
}

@font-face {
    font-family: "Gotham Bold";
    src: url("assets/fonts/gothambold.woff") format("woff");
}