<div id="content-container">
    <div id="image-section"></div>
    <div id="functional-content-section">
        <div id="service-section">
            <div id="alert-container">
                <div class="alert">
                    The E-Search Warrant Submission will be offline on July 30th at 7:00 PM for 5 hours.
                </div>
            </div>
            <div id="available">
                <p id="services-title">Services for Public Users</p>
                <a href="https://google.com">E-Search Warrant Submission</a>
            </div>
            <div id="available-soon">
                <p id="available-soon-title">Available Soon</p>
                <a>Criminal Intake Online Submission</a>
                <a>Criminal Intake Online Submission</a>
                <a>Criminal Intake Online Submission</a>
            </div>
        </div>
    </div>
</div>